.DS_Store
Chrome_Extension/data/gfs_velocity_*_700mb.json
Chrome_Extension/data/gfs_velocity_*_750mb.json
Chrome_Extension/data/gfs_velocity_*_800mb.json
Chrome_Extension/data/gfs_velocity_*_850mb.json
Chrome_Extension/data/gfs_velocity_*_900mb.json
Chrome_Extension/data/gfs_velocity_*_925mb.json