.DS_Store
Chrome_Extension/data/gfs_velocity_*.json
Firefox_Extension/data/gfs_velocity_*.json
Chrome_Extension/data/gfs_cloud_*.json
Chrome_Extension/data/gfs_precip_*.json
Firefox_Extension/data/gfs_cloud_*.json
Firefox_Extension/data/gfs_precip_*.json
Chrome_Extension/data/gfs_refc_*.json
Firefox_Extension/data/gfs_refc_*.json
Chrome_Extension/data/gfs_sfc_temp_*.json
Firefox_Extension/data/gfs_sfc_temp_*.json
Chrome_Extension/data/gfs_temp_*.json
Firefox_Extension/data/gfs_temp_*.json
Chrome_Extension/data/gfs_cape_*.json
Firefox_Extension/data/gfs_cape_*.json
Chrome_Extension/data/gfs_cin_*.json
Firefox_Extension/data/gfs_cin_*.json
Chrome_Extension/data/gfs_vvel_*.json
Firefox_Extension/data/gfs_vvel_*.json
Chrome_Extension/data/gfs_divergence_*.json
Firefox_Extension/data/gfs_divergence_*.json
.gitignore

